{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{template "title" .}} — Forum</title>
    </head>
    <body>
        {{template "header" .}}
        <main>
            <h1>{{template "title" .}}</h1>

            {{with .Flash}}
                <div>{{.}}</div>
            {{end}}

            {{template "main" .}}
        </main>
        {{template "footer" .}}
    </body>
</html>
{{end}}